*{
    margin: 0;
    padding:0;
}
#main{
    overflow: hidden;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}


.circle{
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(273, 9%, 50%);
    transition: background-color 0.9s ease-out;
    -webkit-user-drag: none;
}


[band='-1'], [band='0']{
    background-color: rgb(255, 237, 237);
}
[band='1'], [band='2']{
    background-color: pink;
}
[band='3']{
    background-color: hsl(0, 100%, 50%);
}
[band='4']{
    background-color: hsl(332, 100%, 36%);
}
[band='5']{
    background-color: hsl(300, 100%, 25%);
}
[band='6']{
    background-color: hsl(273, 100%, 36%);
}
[band='7']{
    background-color: hsl(232, 71%, 30%);
}
[band='8']{
    background-color: hsl(217, 50%, 25%);
}
[band='9'], [band='10']{
    background-color: hsl(217, 30%, 15%);
}
[band='11'], [band='12']{
    background-color: hsl(218, 17%, 27%);
}

.drawnOn{
    background-color: black;
}