*{
    margin: 0;
    padding:0;
}
#main{
    overflow: hidden;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}


.circle{
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(273, 9%, 50%);
    transition: background-color 0.9s ease-out;
    -webkit-user-drag: none;
}


[band='band-1'], [band='band-2']{
    background-color: rgb(255, 237, 237);
}
[band='band0'], [band='band1']{
    background-color: pink;
}
[band='band2']{
    background-color: hsl(0, 100%, 50%);
}
[band='band3']{
    background-color: hsl(332, 100%, 36%);
}
[band='band4']{
    background-color: hsl(300, 100%, 25%);
}
[band='band5']{
    background-color: hsl(273, 100%, 36%);
}
[band='band6']{
    background-color: hsl(232, 71%, 30%);
}
[band='band7']{
    background-color: hsl(217, 50%, 25%);
}
[band='band8'], [band='band9']{
    background-color: hsl(217, 30%, 15%);
}
[band='band10'], [band='band11']{
    background-color: hsl(218, 17%, 27%);
}

.drawnOn{
    background-color: black;
}